---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	{% include head.html %}
	<body>
		<section class="header">
			<div class="container">
				<nav class="navbar navbar-expand-lg">
					<div class="container-fluid">
					  <a class="navbar-brand" href="index.html"><img src="images/midlogo.png"></a>
					  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
						<i class="fa fa-bars"></i>
					  </button>
					  <div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav ms-auto text-end">
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="index.html">HOME</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" href="services.html">SERVICES</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link active-home" href="contactus.html">CONTACT US</a>
						  </li>
						</ul>
					  </div>
					</div>
				</nav>
			</div>
		</section>
		<section class="service">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="contactus text-center">
							<h6>Chat with our consultant</h6>
							<img src="images/customersupport.png" class="img-fluid">
							<p>Interested in GoMyTeam program? Want to know more about the price?<br>Just pick up the phone to chat with our helpful consultant.</p
							<i class="fa fa-phone" aria-hidden="true"></i>
							<a href="/pac/index.html" data-sales-number="local" aria-hidden="false" data-loaded="true" style="">+60123456789</a>>
						</div>
					</div>
					<div class="col-md-6">
						<div class="contactus text-center">
							<h6>Visit our office</h6>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.2540512982787!2d101.57895791512355!3d3.0263253547384723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb32fdd85d731%3A0x8d716a8b3eb18476!2sMain%20Place%20Mall%20USJ!5e0!3m2!1sen!2smy!4v1668259399216!5m2!1sen!2smy" width="600" height="450" width="600" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% include footer.html %}
	</body>
</html>
