---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	{% include head.html %}
	<body>
		<section class="header">
			<div class="container">
				<nav class="navbar navbar-expand-lg">
					<div class="container-fluid">
					  <a class="navbar-brand" href="index.html"><img src="images/midlogo.png"></a>
					  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
						<i class="fa fa-bars"></i>
					  </button>
					  <div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav ms-auto text-end">
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="index.html">HOME</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link active-home" href="services.html">SERVICES</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" href="contactus.html">CONTACT US</a>
							  </li>
						</ul>
					  </div>
					</div>
				</nav>
			</div>
		</section>
		<section class="service">
			<div class="container">
				<h2 class="title">Our learning program covers 3 distinct area</h2>
				<p class="subtitle">which according to research are the building blocks to innovative solution applicable across industries.</p>
			</div>
		</section>
		<section class="feature">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="images/communication.jpg">
					</div>
					<div class="col-md-6">
						<h6>Communication</h6>
						<p>Impactful communicator helps people become more influential and effective
							in their organizations. Understand how to move
							people to action based on four key steps of the E.P.I.C communicating framework</p>
					</div>
				</div>
			</div>
		</section>
		<section class="feature">
			<div class="container">
				<div class="row">
					<div class="col-md-6" text-center>
						<img src="images/problem solving.jpg">
					</div>
					<div class="col-md-6">
						<h6>Problem Solving</h6>
						<p>The ability to solve problems and make sound decisions is central to every
							professional’s effectiveness on the job. Learn how to solve problems in a structured way with S.M.A.R.T problem solving framework.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="feature">
			<div class="container">
				<div class="row">
					<div class="col-md-6" text-center>
						<img src="images/designthinking.jpg">
					</div>
					<div class="col-md-6">
						<h6>Design Thinking</h6>
						<p>Learning to emphatize and define problem is only the beginning. Design thinking complements it with iterative process ideate--prototype--test--assess to help you achieve product and service innovation</p>

					</div>
				</div>
			</div>
		</section>
		<section class="service">
			<div class="container">
				<h2 class="title">Our network program covers 2 distinct area</h2>
				<p class="subtitle">which according to research are the building blocks to innovative solution applicable across industries.</p>
			</div>
		</section>
		<section class="feature">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2>Maximize learning in <br> peer to peer (P2P) environment</h2>
						<p>We gather academia and industry expert to share and brainstorm ideas.</p>
						<a href="https://www.aberdeen.com/blogposts/7-programs-that-support-peer-to-peer-learning/">LEARN MORE</a>
					</div>
					<div class="col-md-6" text-center>
						<img src="images/p2p.jpg" class="img-fluid">
					</div>
				</div>
			</div>
		</section>
		<section class="feature">
			<div class="container">
				<div class="row">
					<div class="col-md-6" text-center>
						<img width="560" height="371" data-lazy-src="https://lh3.googleusercontent.com/3KOalHqqLLv6qiL2c3TBMtSV1zDIgCRpy3LFYdQBMcDpL3L5iHPX7aYT3qdfCW5avThm4xXOIzwlEjV0jJfOi0Eb7l-VcDkbJXus2nYOToyNCNBmWMjt38N7zS_moRrzGkwr0yNf" class="entered lazyloaded" src="https://lh3.googleusercontent.com/3KOalHqqLLv6qiL2c3TBMtSV1zDIgCRpy3LFYdQBMcDpL3L5iHPX7aYT3qdfCW5avThm4xXOIzwlEjV0jJfOi0Eb7l-VcDkbJXus2nYOToyNCNBmWMjt38N7zS_moRrzGkwr0yNf" data-ll-status="loaded">
					</div>
					<div class="col-md-6">
						<h2>Real life, relevant, trending <br> case study topics curated with quality</h2>
						<p>We facilitate learning and discussion with topics suggested by our state of the art AI recommender</p>
						<a href="https://wordlift.io/blog/en/content-hub-seo/">LEARN MORE</a>
					</div>
				</div>
			</div>
		</section>
		{% include footer.html %}
	</body>
</html>
